<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (notification(); as notificationRef) {
      <div>
        <h2 data-cy="notificationDetailsHeading"><span jhiTranslate="protaskinxxwApp.notification.detail.title">Notification</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ notificationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="protaskinxxwApp.notification.title">Title</span></dt>
          <dd>
            <span>{{ notificationRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="protaskinxxwApp.notification.message">Message</span></dt>
          <dd>
            <span>{{ notificationRef.message }}</span>
          </dd>
          <dt><span jhiTranslate="protaskinxxwApp.notification.sentAt">Sent At</span></dt>
          <dd>
            <span>{{ notificationRef.sentAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="protaskinxxwApp.notification.type">Type</span></dt>
          <dd>
            <span [jhiTranslate]="'protaskinxxwApp.Type.' + (notificationRef.type ?? 'null')">{{
              { null: '', INFO: 'INFO', WARNING: 'WARNING', ERROR: 'ERROR' }[notificationRef.type ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="protaskinxxwApp.notification.user">User</span></dt>
          <dd>
            @if (notification()!.user) {
              <div>
                <a [routerLink]="['/app-user', notification()!.user?.id, 'view']">{{ notificationRef.user?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/notification', notificationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
